In [1]:
name = 'Amulya'

In [2]:
name[::-1]

'aylumA'

In [3]:
name[::-2]

'alm'

In [4]:
name[2:-2]

'ul'

In [5]:
print('Hello {}'.format(name))

Hello Amulya

In [6]:
print(f'Hello {name}')

Hello Amulya

In [7]:
result = 100/778

In [13]:
print(f'The result is {result:7.3}')

The result is   0.129

In [46]:
nl = [23,456,'fgiutrg']

In [48]:
nl.pop()

'fgiutrg'

In [45]:
nl

['fgiutrg', 23]

In [14]:
import time
from IPython.display import clear_output
board_dict = {'1':'1','2':'2','3':'3','4':'4','5':'5','6':'6','7':'7','8':'8','9':'9'}

print("\t|\t|\t\n    {}   |   {}   |    {}    \n\t|\t|\t\n--------+-------+--------".format(board_dict['1'],board_dict['2'],board_dict['3']))
print("\t|\t|\t\n    {}   |   {}   |    {}    \n\t|\t|\t\n--------+-------+--------".format(board_dict['4'],board_dict['5'],board_dict['6']))
print("\t|\t|\t\n    {}   |   {}   |    {}    \n\t|\t|\t".format(board_dict['7'],board_dict['8'],board_dict['9']))

time.sleep(5)
clear_output()

In [6]:
print(" __ __ __\n|__|__|__|\n|__|__|__|\n|__|__|__|")

 __ __ __
|__|__|__|
|__|__|__|
|__|__|__|

In [50]:
class Sample():     
    def __init__(self,count):        
        self.count = count

In [51]:
ss = Sample(10)

In [78]:
class Space(Sample):
    def __init__(self,count,cou):
        Sample.__init__(self,count)
        self.cou = cou
    def mul(self):
        return self.cou * self.count

In [79]:
s = Space(20,10)

In [71]:
s.count

20

In [72]:
s.cou

10

In [80]:
print(s.mul())

200

In [26]:
import math

class Line():
    
    def __init__(self,coor1,coor2):
        self.x1,self.y1 = coor1
        self.x2,self.y2 = coor2
    
    def x_difference(self):
        return (self.x2 - self.x1)
    
    def y_difference(self):
        return(self.y2 - self.y1)
    
    def distance(self):
        return(math.sqrt(self.x_difference()**2 + self.y_difference()**2))
    
    def slope(self):
        return(self.y_difference()/self.x_difference())

In [37]:
line = Line((3,2),(8,10))

In [38]:
line.distance()

9.433981132056603

In [39]:
line.slope()

1.6

In [33]:
class Cylinder():
    
    pi = 3.14
    
    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius
        
    def volume(self):
        return Cylinder.pi * self.radius **2 * self.height
    
    def surface_area(self):
        return ((2 * Cylinder.pi * self.radius * self.height) + (2 * Cylinder.pi * self.radius**2))

In [40]:
cy = Cylinder(2,3)

In [41]:
cy.volume()

56.52

In [42]:
cy.surface_area()

94.2

In [61]:
class Account():
    
    def __init__(self,owner,balance):
        self.owner = owner
        self.balance = balance
        
    def deposit(self,amount):
        self.balance += amount
        print("Deposit Accepted")
    
    def withdraw(self,amount):
        if amount < self.balance:
            self.balance -= amount
            print("Withdrawal accepted")
        else:
            print('No sufficient Balance\n')
            
    def __str__(self):
        return ('Account owner:{} \nAccount balance: {}\n'.format(self.owner,self.balance))

In [62]:
isk = Account('ISK',2000)

In [63]:
isk.deposit(4000)

Deposit Accepted

In [64]:
isk.withdraw(8000)

No sufficient Balance

In [65]:
isk.withdraw(300)

Withdrawal accepted

In [66]:
isk.balance

5700

In [67]:
print(isk)

Account owner:ISK
Account balance: 5700

In [1]:
def gensquares(number):
    for i in range(number):
        yield i ** 2

In [2]:
for x in gensquares(10):
    print(x)

0
1
4
9
16
25
36
49
64
81

In [3]:
import random

def rand_num(low,high,n):
    for i in range(n):
        yield random.randint(low,high)

In [5]:
for num in rand_num(23,456,24):
    print(num)

172
147
221
169
177
140
73
147
332
109
316
430
403
364
283
176
358
321
432
128
296
48
289
32

In [6]:
s= 'hello'
iter_s = iter(s)

In [7]:
print(iter_s)

<str_iterator object at 0x000001E542760D48>

In [8]:
s = ('value', 24)

In [11]:
print(s)
type(s)

('value', 24)

tuple

In [12]:
d = str(s)
print(d)
type(d)

('value', 24)

str

In [13]:
'-'.join([str(n) for n in range(100)])

'0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'